user{
    font-size: 15px;
    background: black;
    grid-area: user;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
  
.left{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 4rem;
}
.flag-name{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
}
.p-no{
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 1rem;
}
  
.right{
    margin-top: 0.5rem;
    display: inline;
}
li{
    margin: 0 1vw;
    list-style-type: none;
}
  
.user-nav{
    display: flex;
}
  
.user-nav{
    text-decoration: none !important;
    color: white !important;
}
  
nav {
    width: 100%;
    background: #fff;
    grid-area: nav;
    display: flex;
    margin: 0.5rem 0 0.5rem 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
  
.navbar-nav{
    align-items: center !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}
  
ul li a{
    color: rgb(0, 0, 0)  !important;
    text-decoration: none;
}
  
.nav-link{
    text-decoration: none;
    color: #3f3f4f !important;
    transition: 0.2s ease-in-out !important;
}
.nav-link:hover{
    color: #ff003c !important;
    transition: 0.2s ease-in-out !important;
}
  
.navlink-hot{
    margin-left: -1.3rem !important;
    margin-right: -1.3rem;
}
  
.navlink-hot::before{
    content: "Hot";
    background: #ff003c;
    color: #fff;
    font-size: 12px;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: block;
    margin-top: -1.2rem;
    margin-left: 3rem;
    box-shadow: 0 1px #b4b4b4;
}
  
.nav-item{
    font-weight: 500;
    font-size: 15px;
}
  
.nav-item-search{
    font-size: 20px !important;
}
  
.nav-item-btn{
    border: none !important;
    background: #D7553B;
    color: #fff;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    font-size: 15px;
    font-weight: 700;
    margin-top: -0.5rem;
}
  
  .nav-search{
    border: #eeeeee 1px solid;
    border-right: none;
    border-radius: 1.6rem 0 0 1.6rem;
    padding-left: 1rem;
    height: 3rem;
}
  
.navsearch-btn{
    border: #eeeeee 1px solid;
    border-left: none;
    border-radius: 0 1.6rem 1.6rem 0;
    background: white;
    height: 3rem;
    padding-right: 1rem;
    margin-right: 1rem;
    font-size: 20px;
}
  
.bx-heart{
    border: #eeeeee 1px solid;
    padding: 0.8rem;
    font-size: 20px;
    border-radius: 1.6rem;
    margin-right: 1rem;
}
  
.bx-cart{
    border: #eeeeee 1px solid;
    padding: 0.8rem;
    font-size: 20px;
    border-radius: 1.6rem;
    margin-right: 1rem;
}
  
.sign-btn{
    border: none;
    background: #2577fd;
    color: white;
    border-radius: 5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
}