.dropdown .dropdown-menu {
    font-size: 18px;
    transition: all 0.5s;
    overflow: hidden;
    transform-origin: top center;
    transform: scale(1, 0);
    display: block;
  }
  .dropdown:hover .dropdown-menu {
    transform: scale(1);
  }

  .dropdown-toggle::after{
    content: none;
  }