.dd button{
    background-color: #f4edf2;
    width: 360px;
    height: 50px;
    font-size: 20px;
    text-align: left;
    padding-left: 30px;
    color: #795376;
}

.dd button:hover{
    background-color: #f4edf2;
    width: 360px;
    height: 50px;
    font-size: 20px;
    text-align: left;
    padding-left: 30px;
    color: #795376;
}

.dd .dropdown-menu{
    background-color: #f4edf2;
    width: 360px;
    font-size: 20px;
    text-align: left;
    padding-left: 30px;
    color: #795376;
}

.dd .dropdown-menu li{
    padding: 10px 0;
}

.dropdowns div{
    padding: 10px 0;
}