@media (max-width:1400px){
    .between{
        justify-content: center;
    }
    .login-infos{
        flex-direction: column;
    }
    .register-form{
        margin-top: 50px;
    }
}

@media (max-width:992px){
    .db{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    .free-shipp{
        justify-content: center !important;
    }
    .quick-links,
    .new-pr,
    .support{
        display: flex;
        flex-direction: column;
        align-items: center !important;
        margin: 20px 0 !important;
    }
}

@media (max-width: 576px){
    .dropdowns{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .mail{
        width: 300px !important;
    }
    .subscribe input{
        width: 80px;
    }
    .card{
        width: 250px !important;
    }
    .pricce,
    .quantity{
        display: none;
    }
    .buttons-shopping{
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
    }
    .buttonstw-shopping{
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
    }
}

@media (max-width:768px){
    .none{
        display: none;
    }
    .pb{
        display: flex;
        flex-direction: column;
    }
    .card-product{
        justify-content: space-between;
    }
}