.counter-container {
    font-size: 18px;
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid #7782b0;
    overflow: hidden;
    width: 180px;
}
.button {
    height: 50px;
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 60px;
    text-align: center;
}
.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #7782b0;
    color: white;
    padding: 10px;
    text-align: center;
    flex-grow: 1;
}

.bf-af{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.product-info{
    margin: 100px 0 200px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}