*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: black !important;
}

ul,
ol {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: var(--main-text-color);
  font-family: var(--main-font-family);
}

::selection {
  background-color: #b8926a;
  color: #2d2d2b;
}

:root {
  /* --main-text-color: #fff; */
  --main-font-family: "Montserrat", sans-serif;
}

/* .container {
  max-width: 132rem;
  margin: 0 auto;
} */
